<% if Header.exists? %>
<% @headers.take(1).each do |h| %>
<section class="page-title" style="background-image:url(<%= h.headerimg_url.to_s %>);">
    <div class="auto-container clearfix">
        <h1>  <%= @blog.title %></h1>
        <ul class="bread-crumb clearfix">
          <li><%= link_to "Home", root_path  %></li>
            <li>  <%= @blog.title %>
</li>
        </ul>
    </div>
</section>
<% end %>
<% else %>
<section class="page-title" style="background-image:url(<%= asset_path "background/7.jpg"%>);">
    <div class="auto-container clearfix">
        <h1>  <%= @blog.title %>
</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index-2.html">Home</a></li>
            <li>  <%= @blog.title %>
</li>
        </ul>
    </div>
</section>
<% end %>

<!-- About Us -->
<section class="about-us">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                    </div>
                    <div class="text-box">
                      <%= @blog.sub_title %>
                    </div>
                  </div>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="video-box wow fadeIn">
                            <figure class="image"><%= image_tag (@blog.blogimg_url.to_s) %></figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
              <%= raw(@blog.body) %>

            </div>
        </div>
        </section>
