<!-- About Us -->
<section class="about-us">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                  <% if Header.exists? %>
                  <% @headers.take(1).each do |h| %>
                  <div class="sec-title">
                    <h2><%= h.abouts_title %></h2>
                  </div>
                  <div class="text-box">
                    <p><%= h.abouts_sub_title %></p>
                  </div>
                  <% end %>
                  <% else %>
                  <div class="sec-title">
                      <h2>About Us</h2>
                  </div>
                  <div class="about-years"><span class="years">35</span><h3>Years Of Experience</h3></div>
                  <div class="text-box">
                      <p>Our commitment to bring <a href="#">professionalism</a>, good service & trust to the home repair service & maintenance business. We take immense pride in sending some of the most of professional handymen to yours homes to fix things that aren't workings. </p>
                  </div>
                  <% end %>



                    <ul class="list-style-one">
                      <% if About.exists?%>

                      <% @abouts.take(3).each do |a| %>
                      <li><%= a.title %>.</li>

                      <% end %>
                      <% else %>

                        <li>Quis nostrud exer citation.</li>
                        <li>Exercitation ullamco laboris nis.</li>
                        <li>Commodo consequat duis autex.</li>
                        <% end %>
                    </ul>
                    <div class="bottom-box clearfix">
                        <div class="btn-box">
                          <%= link_to abouts_path, class: "theme-btn btn-style-one" do %>
                            <span class="btn-title">Read More</span><span></span><span></span><span></span><span></span>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <% if About.exists? %>
                <% @abouts.take(1).each do |a| %>
                <div class="inner-column">
                    <div class="video-box wow fadeIn">
                        <figure class="image"><img src="<%= a.abtimg_url.to_s %>" alt=""></figure>
                    </div>
                </div>
                <% end %>
                <% else %>
                <div class="inner-column">
                    <div class="video-box wow fadeIn">
                        <figure class="image"><img src="<%= asset_path "resource/about-us.jpg"%>" alt=""></figure>
                    </div>
                </div>
                <% end %>
            </div>

        </div>
    </div>
</section>
<!-- End About Us -->
